<h2>PEER-GRADED ASSIGNMENT: CAPSTONE PROJECT - The Battle of Neighborhoods (Week 1)</h2>
Now that you have been equipped with the skills and the tools to use location data to explore a geographical location, over the course of two weeks, you will have the opportunity to be as creative as you want and come up with an idea to leverage the Foursquare location data to explore or compare neighborhoods or cities of your choice or to come up with a problem that you can use the Foursquare location data to solve.

<h2>1. INTRODUCCION</h2>

**Clearly define a problem or an idea of your choice, where you would need to leverage the Foursquare location data to solve or execute. Remember that data science problems always target an audience and are meant to help a group of stakeholders solve a problem, so make sure that you explicitly describe your audience and why they would care about your problem.**

Suppose we have a business within a neighborhood and we want to expand our business with new branches within the city because it is a good business. What must be done is to look for neighborhoods similar to the one we are in and the neighborhoods that are most similar would be the candidates to open the new business. For the comparison, we need information above:
1. Customer data
2. habits
3. competitors and sociodemographic

For this exercise,suppose that the business of selling agricultural implements is located in the Agincourt North neighborhood, where the business is profitable and it is necessary to expand the business in other neighborhoods that have similar characteristics to this neighborhood in order to remain profitable in The new place.
So data science help is needed to identify neighborhoods similar to Agincourt North

<h2>2. DATA </h2>

**Describe the data that you will be using to solve the problem or execute your idea. Remember that you will need to use the Foursquare location data to solve the problem or execute your idea. You can absolutely use other datasets in combination with the Foursquare location data. So make sure that you provide adequate explanation and discussion, with examples, of the data that you will be using, even if it is only Foursquare location data.**

The data is available en https://www.toronto.ca/ext/open_data/catalog/data_set_files/2016_neighbourhood_profiles.csv

In [3]:
import pandas as pd

In [4]:
csv_path='https://www.toronto.ca/ext/open_data/catalog/data_set_files/2016_neighbourhood_profiles.csv'
df = pd.read_csv(csv_path,encoding='latin1')
print('Data loaded')

Data loaded

In [8]:
dimensiones=df.shape

In [13]:
print("La the dimensions of the data are "+ str(dimensiones[0]) +" rowns by "+ str(dimensiones[1])+" columns")

La the dimensions of the data are 2383 rowns by 145 columns

Column 1 through 5 describes the type of information that is available. The other columns are the data of each neighborhood

In [45]:
DensityPob =df[df["Characteristic"]=="Population density per square kilometre"]
Population =df[df["Characteristic"]=="Population, 2016"]
Income =df[df["Characteristic"]=="Total income: Population with an amount"]
OcupacionIndustri =df[df["Characteristic"]=="    8 Natural resources, agriculture and related production occupations"]
Industry =df[df["Characteristic"]=="    11 Agriculture, forestry, fishing and hunting"]

In [55]:
Data = pd.concat([DensityPob,Population,Income,OcupacionIndustri,Industry],axis=0)

In [61]:
Data1 = Data.iloc[:,5:].T

In [64]:
Data1.columns=["Density","Population","Income","OcupacionIndustri","Industry"]

In [97]:
Data1
#Data1["Population"].apply(lambda x: int(x))
#Data1["Incomeperperson"]=Data1["Income"]/Data1["Population"]
#Data1["OcupacionIndustriperson"]=Data1["OcupacionIndustri"]/Data1["Population"]
#Data1["Industryperperson"]=Data1["Industry"]/Data1["Population"]

,Density,Population,Income,OcupacionIndustri,Industry
Agincourt North,"3,929","29,113","23,505",50,40
Agincourt South-Malvern West,"3,034","23,757","19,370",35,40
Alderwood,"2,435","12,054","9,915",60,10
Annex,"10,863","30,526","25,615",60,10
Banbury-Don Mills,"2,775","27,695","22,335",60,10
...,...,...,...,...,...
Wychwood,"8,541","14,349","11,030",75,10
Yonge-Eglinton,"7,162","11,817","9,555",30,15
Yonge-St.Clair,"10,708","12,528","10,805",30,20
York University Heights,"2,086","27,593","22,230",75,10
Yorkdale-Glen Park,"2,451","14,804","11,490",45,10

As we can visualize the data we take them as a string although we know they are numerical. What we must do first is to replace the comma with the point and finally we use a type to convert a decimal number. We do this for all columns.

In [104]:
Data1["Density"] = Data1["Density"].str.replace(',','.').astype(float)
Data1["Population"] = Data1["Population"].str.replace(',','.').astype(float)
Data1["Income"] = Data1["Income"].str.replace(',','.').astype(float)
Data1["OcupacionIndustri"] = Data1["OcupacionIndustri"].str.replace(',','.').astype(float)
Data1["Industry"] = Data1["Industry"].str.replace(',','.').astype(float)

A statistical summary of the database found is presented below.

In [105]:
Data1.describe()

          Density  Population      Income  OcupacionIndustri    Industry
count  140.000000  140.000000  140.000000         140.000000  140.000000
mean     6.261136   19.511221   15.622893          52.714286   15.000000
std      4.840359   10.033589    8.347722          30.109939   12.393431
min      1.040000    6.577000    4.915000           0.000000    0.000000
25%      3.595250   12.019500    9.878750          30.000000   10.000000
50%      5.071500   16.749500   13.302500          50.000000   10.000000
75%      7.621250   23.854500   19.242500          70.000000   20.000000
max     44.321000   65.913000   60.620000         180.000000   60.000000

In [119]:
Data1.index

Index(['Agincourt North', 'Agincourt South-Malvern West', 'Alderwood', 'Annex',
       'Banbury-Don Mills', 'Bathurst Manor', 'Bay Street Corridor',
       'Bayview Village', 'Bayview Woods-Steeles', 'Bedford Park-Nortown',
       ...
       'Willowdale West', 'Willowridge-Martingrove-Richview', 'Woburn',
       'Woodbine Corridor', 'Woodbine-Lumsden', 'Wychwood', 'Yonge-Eglinton',
       'Yonge-St.Clair', 'York University Heights', 'Yorkdale-Glen Park'],
      dtype='object', length=140)

In [153]:
import geocoder
import time
import requests
from pandas.io.json import json_normalize

In [129]:
lat=[]
lon=[]
for i in Data1.index:
    i = i+','+'Canada'
    loc = geocoder.osm(i)
    try:
        lat.append(loc.latlng[0])
        lon.append(loc.latlng[1])
    except:
        lat.append('')
        lon.append('')

In [132]:
Data1['Latitude']=lat
Data1['Longitude']=lon
Data1= Data1[Data1['Latitude']!='']

In [135]:
loc = geocoder.osm('Toronto')

In [137]:
latitude=loc.latlng[0]
longitude=loc.latlng[1]

In [133]:
CLIENT_ID = 'LVHJ1YEXKGCGLJUK3DZHNZ0QIGVDDGR3QVXPXMYFEI5IDNOG' # your Foursquare ID
CLIENT_SECRET = 'J20NWCR43D3CUFJMBUUJCOF30NYRF5AKKC2Q224UYHBNIPRD' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: LVHJ1YEXKGCGLJUK3DZHNZ0QIGVDDGR3QVXPXMYFEI5IDNOG
CLIENT_SECRET:J20NWCR43D3CUFJMBUUJCOF30NYRF5AKKC2Q224UYHBNIPRD

In [192]:
search_query = 'farm products'
radius = 10000000
print(search_query + ' .... OK!')

farm products .... OK!

In [193]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude,longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=LVHJ1YEXKGCGLJUK3DZHNZ0QIGVDDGR3QVXPXMYFEI5IDNOG&client_secret=J20NWCR43D3CUFJMBUUJCOF30NYRF5AKKC2Q224UYHBNIPRD&ll=43.653963,-79.387207&v=20180604&query=farm products&radius=10000000&limit=30'

In [196]:
results = requests.get(url).json()

En esta base tengo alguna información sobre negocios parecidos al negocio planteado inicialmente obtenidos desde foursquare en la ciudad de Toronto

In [197]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe = dataframe[dataframe["location.city"]=="Toronto"]
dataframe

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.city,location.state,location.country,location.formattedAddress,location.address,location.postalCode,location.crossStreet,venuePage.id
0,4c1be607eac020a17ca245c2,Alex Farm Products,[],v-1576602942,False,43.669960,-79.388584,"[{'label': 'display', 'lat': 43.66996022207461...",1784,CA,Toronto,ON,Canada,"[Toronto ON, Canada]",NaN,NaN,NaN,NaN
1,4bb266aca32876b0598c00fe,Alex Farm Products,"[{'id': '4bf58dd8d48988d11e951735', 'name': 'C...",v-1576602943,False,43.677571,-79.352016,"[{'label': 'display', 'lat': 43.67757080746007...",3864,CA,Toronto,ON,Canada,"[379 Danforth Ave., Toronto ON M4K, Canada]",379 Danforth Ave.,M4K,NaN,NaN
2,4e1de75f3151645030258772,Alex Farm Products,"[{'id': '4bf58dd8d48988d11e951735', 'name': 'C...",v-1576602943,False,43.704801,-79.374933,"[{'label': 'display', 'lat': 43.70480141815145...",5744,CA,Toronto,ON,Canada,"[1537 Bayview Ave (Belsize), Toronto ON, Canada]",1537 Bayview Ave,NaN,Belsize,NaN
3,4de11944d164e323c7bc79fc,Alex Farm Products (Beaches),"[{'id': '4bf58dd8d48988d11e951735', 'name': 'C...",v-1576602943,False,43.669688,-79.301663,"[{'label': 'display', 'lat': 43.66968773847534...",7107,CA,Toronto,ON,Canada,"[1965 Queen St East, Toronto ON, Canada]",1965 Queen St East,NaN,NaN,NaN
5,4c1e88af2c8fef3b8f9fe3bb,Master Soft & Delight Dairy Products Inc.,"[{'id': '4bf58dd8d48988d1cb941735', 'name': 'F...",v-1576602943,False,43.652026,-79.382316,"[{'label': 'display', 'lat': 43.65202641526233...",449,CA,Toronto,ON,Canada,"[Bay Street (Bay & Queens Quay W), Toronto ON ...",Bay Street,M5H,Bay & Queens Quay W,NaN
6,4d793f2b71a68cfa70811386,Disney Consumer Products,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1576602943,False,43.645228,-79.384664,"[{'label': 'display', 'lat': 43.64522769242353...",993,CA,Toronto,ON,Canada,"[200 Front Street West, Toronto ON, Canada]",200 Front Street West,NaN,NaN,NaN
7,4f3933c2e4b0d408a64593fc,State Farm Insurance Tracey Pether,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1576602943,False,43.651448,-79.371731,"[{'label': 'display', 'lat': 43.65144832090807...",1277,CA,Toronto,ON,Canada,"[207 Adelaide St E. (Jarvis St.), Toronto ON, ...",207 Adelaide St E.,NaN,Jarvis St.,NaN
8,4beeb0d63686c9b67bc9246e,Alex Farm Cheese,"[{'id': '4bf58dd8d48988d11e951735', 'name': 'C...",v-1576602943,False,43.648534,-79.371520,"[{'label': 'display', 'lat': 43.64853370176147...",1400,CA,Toronto,ON,Canada,"[93 Front St E (Jarvis St), Toronto ON M5C 1C3...",93 Front St E,M5C 1C3,Jarvis St,NaN
9,4ad7f103f964a5203a1021e3,Harbour Green Farms,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",v-1576602943,False,43.635700,-79.398545,"[{'label': 'display', 'lat': 43.63569983023805...",2228,CA,Toronto,ON,Canada,"[650 Queens Quay West, Toronto ON, Canada]",650 Queens Quay West,NaN,NaN,NaN
10,54f50d6e498ed21d0b69ce04,Canada Promotional Products,"[{'id': '5453de49498eade8af355881', 'name': 'B...",v-1576602943,False,43.660436,-79.362102,"[{'label': 'display', 'lat': 43.66043634999892...",2146,CA,Toronto,ON,Canada,[585 Dundas Street East (Dundas and Parliament...,585 Dundas Street East,M5A 2B7,Dundas and Parliament,NaN
11,4d14f97cbb64224beb4cb165,Alex Cheese Farm,"[{'id': '4bf58dd8d48988d11e951735', 'name': 'C...",v-1576602943,False,43.705665,-79.375243,"[{'label': 'display', 'lat': 43.70566492597198...",5835,CA,Toronto,ON,Canada,"[1578 Bayview Ave. (N of Millwood Ave), Toront...",1578 Bayview Ave.,M4G 3B7,N of Millwood Ave,NaN
13,4c1537537f7f2d7fa61ee268,Alex Farm Produce,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1576602943,False,43.661528,-79.518899,"[{'label': 'display', 'lat': 43.66152815366217...",10639,CA,Toronto,ON,Canada,"[270 The Kingsway, Toronto ON, Canada]",270 The Kingsway,NaN,NaN,NaN
14,4ea30c1177c8d0ce5e35a6cd,Win Farm Supermarket,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",v-1576602943,False,43.739193,-79.512053,"[{'label': 'display', 'lat': 43.73919317312882...",13819,CA,Toronto,ON,Canada,"[1925 Sheppard Ave. W. (at Janes St.), Toronto...",1925 Sheppard Ave. W.,M3L 1Y8,at Janes St.,NaN
18,4ce53fb319efa0933051c4f1,Call Centre Products,[],v-1576602943,False,43.810344,-79.340392,"[{'label': 'display', 'lat': 43.8103437, 'lng'...",17810,CA,Toronto,ON,Canada,"[750 Gordon Baker Rd, Toronto ON M2H 3B4, Canada]",750 Gordon Baker Rd,M2H 3B4,NaN,NaN
21,5aa3776b2b98442cbe54fa09,State Farm Insurance - Li Chen,"[{'id': '58daa1558bbb0b01f18ec1f1', 'name': 'I...",v-1576602943,False,43.777184,-79.233366,"[{'label': 'display', 'lat': 43.77718357807526...",18475,CA,Toronto,ON,Canada,[123-1200 Marham Road (Markham Rd and Ellesmer...,123-1200 Marham Road,M1H 3C3,Markham Rd and Ellesmere Rd,483738532