Import of libraries needed for this exercise

In [1]:
import pandas as pd
from itertools import chain
import numpy as np

Reading the tables in the link.

In [2]:
Canada=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

The web address has some tables. I choose the first table

In [3]:
Canada =Canada[0]

I delete the Borough whose value is Not assigned

In [4]:
Canada =Canada[Canada["Borough"]!="Not assigned"]

Table Display

In [5]:
Canada

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

To each element of the Neighborhood column the comma is added at the end.

In [6]:
Canada["Neighbourhood"] = Canada["Neighbourhood"]+','

In [7]:
Canada

    Postcode           Borough              Neighbourhood
2        M3A        North York                 Parkwoods,
3        M4A        North York          Victoria Village,
4        M5A  Downtown Toronto              Harbourfront,
5        M6A        North York          Lawrence Heights,
6        M6A        North York            Lawrence Manor,
..       ...               ...                        ...
281      M8Z         Etobicoke  Kingsway Park South West,
282      M8Z         Etobicoke                 Mimico NW,
283      M8Z         Etobicoke        The Queensway West,
284      M8Z         Etobicoke     Royal York South West,
285      M8Z         Etobicoke            South of Bloor,

[210 rows x 3 columns]

I create a function which allows me to concatenate the text of the rows. This concatenation is done letter by letter.Then with the groupby, I group the Neighborhood for each Postcode and Borough.

In [8]:
def concatenar(df,VariableUnir):
    return list(chain(*df[VariableUnir]))
    
b=Canada.groupby(["Postcode","Borough"]).apply(lambda x: concatenar(x, "Neighbourhood"))

As I mentioned in the previous previous item, this results returns a list of letters.
Therefore disengagement to form a single text.

In [9]:
Canada = b.apply(lambda x:''.join(x)).to_frame()

Rename the column of the resulting dataframe to keep the name originally.

In [10]:
Canada.rename(columns={0:"Neighbourhood"},inplace=True)

This dataframe has two columns. With reset_index I delete these indexes and add them to the dataframe

In [11]:
Canada.reset_index(inplace=True)

As a comma increases in the records, the comma appears at the end of each record in the Neighborhood column.
With this line of code I delete that character.

In [12]:
Canada["Neighbourhood"] = Canada["Neighbourhood"].apply(lambda x: x[:len(x)-1])

In [13]:
Canada

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

I replace the records where Neighborhood is equal to Not assigned and assigned the value of Borough.

In [14]:
Canada["Neighbourhood"]=np.where(Canada["Neighbourhood"]=="Not assigned",Canada["Borough"],Canada["Neighbourhood"])

In [15]:
Canada

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]